
tiktoken==0.5.1
unstructured==0.10.16
langchain
PyPDF2==3.0.1
python-dotenv==1.0.0
psycopg2-binary==2.9.6
altair==4.0.0

urllib3==1.26.17
boto3==1.33.2
transformers==4.34.0

opensearch-py==2.3.1
botocore==1.33.2
google-search-results
numexpr
langchain_community